@{
    ViewBag.Title = "About Us";
}

<section id="about-us">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>About Improwin</h2>
            <p class="lead">We are a web development, management and outsourcing company.We maintain a strong ethical business policy to build a long term trust relationships with our customers. There are hundreds like us around the globe each claiming to be the best. The reason we stand out is we never claim to be the best, we claim to be the optimal which only makes sense. Our objective remains to provide the clients with optimal solutions that are functional, futuristic, dynamic yet affordable and cost-effective.</p>
        </div>

        <!-- about us slider -->
        <div id="about-slider">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-xs">
                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/images/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                        <img src="~/images/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                        <img src="~/images/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                </div>

                <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div> <!--/#carousel-slider-->
        </div><!--/#about-slider-->
        <!-- Our Skill -->
        <div class="skill-wrap clearfix">

            <div class="center wow fadeInDown">
                <h2>Our Skill</h2>
                <p class="lead">Below Is The List Of Programs, Open Sources And Databases We Are Efficient In Handling–</p>
            </div>

            <div class="row">

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="joomla-skill">
                            <p><em>85%</em></p>
                            <p>Graphic Design</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="html-skill">
                            <p><em>95%</em></p>
                            <p>MS Technology</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <div class="css-skill">
                            <p><em>80%</em></p>
                            <p>Open Source</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
                        <div class="wp-skill">
                            <p><em>90%</em></p>
                            <p>Database</p>
                        </div>
                    </div>
                </div>

            </div>

        </div><!--/.our-skill-->
        <!-- our-team -->
        <div class="team">

            <div class="row clearfix">
                <div class="col-sm-3">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">



                        <h4>GRAPHIC DESIGN</h4>

                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">HTML</a></li>
                            <li class="btn"><a href="#">CSS</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">



                        <h4>MICROSOFT </h4>

                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">ASP.NET</a></li>
                            <li class="btn"><a href="#">AJAX</a></li>
                            <li class="btn"><a href="#">WEB SERVICE</a></li>
                            <li class="btn"><a href="#">LINQ</a></li>
                            <li class="btn"><a href="#">C#DEVELOPMENT</a></li>
                        </ul>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">



                        <h4>OPEN SOURCE</h4>

                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">PHP</a></li>
                            <li class="btn"><a href="#">AJAX</a></li>
                            <li class="btn"><a href="#">JOOMLA</a></li>
                            <li class="btn"><a href="#">MAGENTO</a></li>
                        </ul>


                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">



                        <h4>DATABASE</h4>

                        <ul class="tag clearfix">
                            <li class="btn"><a href="#">SQL SERVER</a></li>
                            <li class="btn"><a href="#">MySQL</a></li>
                            <li class="btn"><a href="#">MS ACCESS</a></li>

                        </ul>


                    </div>
                </div>
            </div>

            <div class="row team-bar">
                <div class="first-one-arrow hidden-xs">
                    <hr>
                </div>
                <div class="first-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="second-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
                <div class="third-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-up"></i>
                </div>
                <div class="fourth-arrow hidden-xs">
                    <hr> <i class="fa fa-angle-down"></i>
                </div>
            </div> <!--skill_border-->
            <!--/.row-->
        </div><!--section-->
    </div><!--/.container-->
</section><!--/about-us-->
